// Set the general document font
html, div, label, p, a, button {
	font-family: 'Nunito', 'Open Sans', sans-serif;
}

// Set the heading font
h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', 'Open Sans', sans-serif;
	font-weight: bold;
}